body {
    font-family: system-ui, sans-serif;
    padding: 16px;
}

h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.card {
    border: 1px solid #332626;
    border-radius: 12px;
    padding: 12px;
    margin: 12px 0;
}

textarea {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #332626;
    color: white;
}
